@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.main {
	min-height: 100vh;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	background: linear-gradient(
		35deg,
		rgba(13, 99, 186, 1) 0%,
		rgba(34, 158, 201, 1) 100%
	);
}

.container {
	max-width: 700px !important;
	width: 100% !important;
	background: linear-gradient(
		49deg,
		rgba(147, 201, 255, 0.5) 0%,
		rgba(209, 241, 255, 0.5) 100%
	);
	border-radius: 6px;
}

.container-data {
	width: 100% !important;
	background: linear-gradient(
		49deg,
		rgba(147, 201, 255, 0.7) 0%,
		rgba(209, 241, 255, 0.7) 100%
	);
	border-radius: 6px;
}

.text-bold {
	font-weight: bold;
}

.text-semibold {
	font-weight: 600;
}

.input-style {
	outline: none;
	border: 0px;
	color: #fff;
	border: 2px solid rgba(255, 255, 255, 0.6);
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input-style:focus {
	border: none;
	outline: none;
	border: 2px solid rgba(13, 99, 186, 1);
}

label {
	font-size: 14px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
}
